 <!-- //note: template -->
 <template id="list-item-template">
  <button type="button"  class="btn btn-outline-dark list-item">Dark</button>
</template>

      <!-- ----calorimeter search box----- -->
    <div class="container mainbox ">
<!-- /////don't edit this blockk -->
      <div class="container leftbox" id="chart" >
        
        <canvas width="100" height="100" id="myCalorimeterChart"></canvas>
        
      </div>

      <% if (user) { %>
        
          <input type="hidden" name="userid" id="userData" value="<%=JSON.stringify(user) %>"  >
          <div class="centerbox">
            <button type="submit" id="addDataBtn" class="btn btn-primary" disabled>Add Data</button>
          </div>    
       
      
        <% } else{ %>  
            
        <% } %>


      
      <div class="rightbox">
          <div class="row">
        <div class="form-floating col-8">
          <input type="text" name="searchbox" value="Search...." class="form-control searchBox " id="floating-input" placeholder="Enter Food Item name">
          <label for="floatingInput " class="">Food Name</label>
        </div>
        <div class="col-4">
          <button type="button" id="search-btn" class="btn btn-primary">Search</button>
        </div>
        <div class="output">
          
          
        </div>

</div>
      </div>
    </div>