<header class="site-navbar" role="banner">

    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-11 col-xl-2">
          <h1 class="mb-0 site-logo"><a href="index.html" class="text-white mb-0">Chronica</a></h1>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block justify-content-end">
              <li class="active"><a href="/"><span>Home</span></a></li>
              <% if (user) { %>
              
                  <li><a href="profile"><span>Profile</span></a></li>
                  <li><a href="/auth/logout"><span>logout</span></a></li>
                  <li><a href=""><span>manage doctors</span></a></li>
                  <% } else { %>

              <li><a href="listings.html"><span>Use Calorimeter</span></a></li>
              <li><a href="/about"><span>About-us</span></a></li>
              <li><a href="contact.html"><span>Contact</span></a></li>
              <li><a href="auth/signup"><span>Sign-up</span></a></li>
              <li>
                <a href="auth/login">

                  <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#login ">Login</button>
                </a>
                </li>
              <% } %>
              <!-- <li> -->
                <!-- <span>  -->
                <!-- <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#signup">Sign-up</button></span> -->
              
              <!-- </li> -->
          
              <!-- <li>
                <a href="/logout">

                  <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#login ">Logout</button>
                </a>
                </li> -->
               
                  
            </ul>
          </nav>
        </div>


        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

        </div>

      </div>
    </div>
    
  </header>